      body {
          font-family: "Open Sans", sans-serif;

          padding-left: 50px;
          padding-right: 50px;
      }

      h1 {
          margin-top: 40px;
          color: #525252;

      }

      p {
          color: #5252529e;
      }

      .wave {
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          height: 200px;
          width: 100%;
          /* Darf abgeschnitten werden  */
          object-fit: cover;
      }

      a {
          color: white;
          text-decoration: none;
      }

      a:hover {
          text-decoration: underline;
      }

      .nav {
          margin-top: 20px;
      }

      .social-icons {
          position: absolute;
          right: 50px;
          top: 20px;
      }

      .social-icon {
          width: 30px;
      }

      .main-image {
          width: 100%;
      }

      .logo {
          position: absolute;
          left: 0;
          width: 100px;
          top: 16px;
          left: 16px;

      }

      .mail {
          color: white;
          background-color: black;
          padding: 8px;
          display: inline-block;
          border-radius: 8px;
          margin-bottom: 16px;
          margin-top: 16px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
      }

      .mail:hover {
          text-decoration: none;
          background-color: rgb(83, 81, 81);
      }

      .mail-icon {
          height: 16px;
          margin-right: 4px;
      }

      .wave-bottom {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 50px;
      }

      .footer {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          background-color: blue;
          color: white;
      }

      /* wird erst nebeneinander platziert wenn pixel breite erreicht ist */
      @media (min-width:850px) {
          h1 {
              margin-top: 200px;
          }

          .wave {
              height: 300px;
          }

          .desktop-left-right {
              display: flex;
          }

          .main-image {
              width: 50%;
              margin-top: 150px;
          }
      }

      @media (min-width:1200px) {
          .wave-bottom {

              bottom: 0px;
          }

          body {
              font-family: "Open Sans", sans-serif;
              padding-left: 100px;
              padding-right: 100px;
          }

          .wave {

              height: 350px;
              object-position: bottom;
          }

          .main-image {
              width: 30%;
              margin-top: 150px;
          }

          a {
              margin-right: 16px;
          }
      }